<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .header-nav > :nth-child(1) {
            color: black;
            background-color: white;
        }
    </style>
</head>
<body class="body" id="body-admin">
    <div th:replace="~{parts/header-admin :: headerAdmin}"></div>
    <div class="container">
        <div class="actions-container">
            <div class="action-card">
                <h2>Добавить услугу</h2>
                <form id="postFrom">
                    <label for="name">Название:</label>
                    <input type="text" id="name" name="name" required placeholder="Введите название">
                    
                    <label for="duration">Длительность:</label>
                    <input type="number" id="duration" name="duration" required placeholder="Введите длительность">
                    
                    <input type="submit" value="Добавить">
                </form>
            </div>
            <div class="action-card">
                <h2>Получить ID услуги</h2>
                <form id="getFrom">
                    <label for="name1">Название:</label>
                    <input type="text" id="name1" name="name" required placeholder="Введите название">
                    
                    <input type="submit" value="Запросить">
                </form>
                <h4>Здесь появится ID</h4>
            </div>
            <div class="action-card">
                <h2>Удалить услугу</h2>
                <form id="deleteFrom">
                    <label for="idService">Идентификатор:</label>
                    <input type="number" id="idService" name="idService" required placeholder="Введите идентификатор">
                    
                    <input type="submit" value="Удалить">
                </form>
            </div>
        </div>
    </div>
</body>
</html>