<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="body">
    <div th:replace="~{parts/header :: header}"></div>
    <main class="main">
        <div class="container">
            <h1 class="select-master-header">Выберите специалиста</h1>
            <div class="masters-container">
                <div class="any-master-card master-card" data-master-id="0" onclick="selectMaster(event)">
                    <img src="/static/css/images/audience.svg" alt="Любой специалист" class="any-master-icon">
                    <div>Любой специалист</div>
                    <input type="radio", name="master" value="any">
                </div>
                <div class="select-master-list">
                    <div class="master-card" data-master-id="1" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                    <div class="master-card" data-master-id="2" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                    <div class="master-card" data-master-id="3" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                    <div class="master-card" data-master-id="4" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                    <div class="master-card" data-master-id="5" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                    <div class="master-card" data-master-id="1" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                    <div class="master-card" data-master-id="1" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                    <div class="master-card" data-master-id="1" onclick="selectMaster(event)">
                        <img src="/static/css/images/person.svg" alt="">
                        <div class="master-info">
                            <p class="master-name">Антон</p>
                            <p class="master-qualification">Бренд-барбер сети Brillant</p>
                        </div>
                        <input type="radio", name="master" value="">
                    </div>
                </div>
                <button class="select-service">
                    Выбрать услугу
                </button>
            </div>
        </div>
    </main>
    <div th:replace="~{parts/footer :: footer}"></div>
    <script src="/static/js/select-master-script.js"></script>
    <script src="/static/js/show-contacts.js"></script>
</body>

</html>