<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="body">
    <div th:replace="~{parts/header-index :: headerIndex}"></div>
    <main class="main indexpage-main">
        <div class="container mainpage-container">
            <div class="welcome-title-container">
                <p class="welcome-title-net">Сеть барбершопов</p>
                <h1>Brillant</h1>
                <p class="welcome-title-wedo">Стрижем&Бреем</p>
            </div>
            <div class="promotions-container">
                <div class="promotion-first-time">
                    <h3>Скидка 30%</h3>
                    <p>При первом визите для новых гостей. Действует на чек от 1000 рублей</p>
                </div>
                <div class="promotion-friend">
                    <h3>Приведи друга</h3>
                    <p>Скидка 400 рублей вам и другу, который впервые посещает BRILLANT</p>
                </div>
            </div>
            <div class="our-advantages-container">
                <div class="facts-container">
                    <div class="fact-card">
                        <div>Лучший уход</div>
                        <div>Мы используем только качественые уходовые продукты, чтобы Вы могли ощутить уверенно и стильно после каждого посещения нашего заведения.</div>
                    </div>
                    <div class="fact-card">
                        <div>Профессионально</div>
                        <div>Наши мастера каждые 6 месяцев проходят курсы повышения квалификации для обеспечения вашего комфорта и достижения великолепного результата.</div>
                    </div>
                </div>
                <button class="visit-master-button">Записаться</button>
                <div class="some-info-text">
                    Приглашаем вас в наши авторские барбершопы, где вы найдете качественные мужские стрижки, уход за бородой и кожей лица. Нас ценят за стильные интерьеры, атмосферу мужественности и высокий уровень сервиса. У нас доступные цены от 690 рублей за стрижку, а также услуги для детей и бритье опасной бритвой для обладателей бороды. Мы ждем вас!
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{parts/footer :: footer}"></div>
    <script src="/static/js/show-contacts.js"></script>
</body>
</html>