<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="body">
    <header class="header">
        <div class="container header-container">
            <a class="header-name" href="/templates/">
                Brillant Barbershop
            </a>
            <div class="header-nav">
                <button class="header-nav-elem header-contacts hidable-contacts" onclick="window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'});">
                    Контакты
                </button>
                <button class="header-nav-elem header-visit-master">
                    Записаться
                </button>
            </div>
            
        </div>
    </header>
    <main class="main indexpage-main">
        <div class="container mainpage-container">
            <div class="welcome-title-container">
                <p class="welcome-title-net">Сеть барбершопов</p>
                <h1>Brillant</h1>
                <p class="welcome-title-wedo">Стрижем&Бреем</p>
            </div>
            <div class="promotions-container">
                <div class="promotion-first-time">
                    <h3>Скидка 30%</h3>
                    <p>При первом визите для новых гостей. Действует на чек от 1000 рублей</p>
                </div>
                <div class="promotion-friend">
                    <h3>Приведи друга</h3>
                    <p>Скидка 400 рублей вам и другу, который впервые посещает BRILLANT</p>
                </div>
            </div>
            <div class="our-advantages-container">
                <div class="facts-container">
                    <div class="fact-card">
                        <div>Лучший уход</div>
                        <div>Мы используем только качественые уходовые продукты, чтобы Вы могли ощутить уверенно и стильно после каждого посещения нашего заведения.</div>
                    </div>
                    <div class="fact-card">
                        <div>Профессионально</div>
                        <div>Наши мастера каждые 6 месяцев проходят курсы повышения квалификации для обеспечения вашего комфорта и достижения великолепного результата.</div>
                    </div>
                </div>
                <button class="visit-master-button">Записаться</button>
                <div class="some-info-text">
                    Приглашаем вас в наши авторские барбершопы, где вы найдете качественные мужские стрижки, уход за бородой и кожей лица. Нас ценят за стильные интерьеры, атмосферу мужественности и высокий уровень сервиса. У нас доступные цены от 690 рублей за стрижку, а также услуги для детей и бритье опасной бритвой для обладателей бороды. Мы ждем вас!
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-contacts">Контакты</div>
            <div class="footer-address footer-header">
                Адрес:
                <div class="footer-address-value footer-value">
                    123060, Россия<br>
                    г. Москва,<br>
                    ул. Маршала Бирюзова, 14
                </div>
            </div>
            <div class="footer-telephone footer-header">
                Телефон:
                <div class="footer-telephone-value footer-value">
                    <a href="tel:88000000000" class="footer-telephone-value footer-value">8 800 000 0000</a>
                </div>
            </div>
            <div class="footer-email footer-header">
                E-mail:
                <div class="footer-email-value footer-value">
                    <a href="mailto:info@brillantbarbershop.com" class="footer-telephone-value footer-value">info@brillantbarbershop.com</a>
                </div>
            </div>
            <div class="footer-worktime footer-header">
                График работы:
                <div class="footer-worktime-value footer-value">
                    Ежедневно 9:00 – 21:00
                </div>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2024 Алексей Рубан, ИКБО-30-22. Все права защищены.</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/show-contacts.js"></script>
</body>
</html>