<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="body">
    <div th:replace="~{parts/header :: header}"></div>
    <main class="main">
        <div class="container">
            <h1 class="account-header">Ваш аккаунт</h1>
            <div class="info-container">
                <div class="account-info">
                    <p class="account-info-label">Имя:</p>
                    <p class="account-info-value value-name" th:text="${name}"></p>
                    <p class="account-info-label">Почта:</p>
                    <p class="account-info-value value-email" th:text="${email}"></p>
                </div>
                <div class="record-info">
                    <h1 class="record-info-title">Запись</h1>
                    <div th:if="${hasRecord}">
                        <div th:replace="~{parts/account-record :: record}"></div>
                    </div>
                    <div th:if="${!hasRecord}">
                        <div th:replace="~{parts/account-newrecord :: newrecord}"></div>
                    </div>
                </div>
                <div class="account-controll-buttons">
                    <button class="account-logout">Выйти</button>
                    <button class="account-delete">Удалить аккаунт</button>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{parts/footer :: footer}"></div>
    <script src="/static/js/show-contacts.js"></script>
    <script src="/static/js/account.js"></script>
</body>

</html>