<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="body">
    <header class="header">
        <div class="container header-container">
            <a class="header-name" href="/templates/">
                Brillant Barbershop
            </a>
            <div class="header-nav">
                <button class="header-nav-elem header-contacts" onclick="showContacts();">
                    Контакты
                </button>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <h1 class="account-header">Ваш аккаунт</h1>
            <div class="info-container">
                <div class="account-info">
                    <p class="account-info-label">Имя:</p>
                    <p class="account-info-value value-name">Алексей</p>
                    <p class="account-info-label">Почта:</p>
                    <p class="account-info-value value-email">alekseyruban555@gmail.com</p>
                </div>
                <div class="record-info">
                    <h1 class="record-info-title">Запись</h1>
                    <p class="master-title detail-title">Мастер:</p>
                    <p class="record-info-value record-master-name">Антон</p>
                    <p class="record-info-value record-master-qualification">БРЕНД-БАРБЕР СЕТИ BRILLANT</p>
                    <p class="record-info-value record-time-value">23 апреля, 10:30</p>
                    <p class="detail-title">Услуги:</p>
                    <p class="record-info-value services-list">МУЖСКАЯ СТРИЖКА НОЖНИЦАМИ</p>
                </div>
                <div class="account-controll-buttons">
                    <button class="account-logout">Выйти</button>
                    <button class="account-delete">Удалить аккаунт</button>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-contacts">Контакты</div>
            <div class="footer-address footer-header">
                Адрес:
                <div class="footer-address-value footer-value">
                    123060, Россия<br>
                    г. Москва,<br>
                    ул. Маршала Бирюзова, 14
                </div>
            </div>
            <div class="footer-telephone footer-header">
                Телефон:
                <div class="footer-telephone-value footer-value">
                    <a href="tel:88000000000" class="footer-telephone-value footer-value">8 800 000 0000</a>
                </div>
            </div>
            <div class="footer-email footer-header">
                E-mail:
                <div class="footer-email-value footer-value">
                    <a href="mailto:info@brillantbarbershop.com"
                        class="footer-telephone-value footer-value">info@brillantbarbershop.com</a>
                </div>
            </div>
            <div class="footer-worktime footer-header">
                График работы:
                <div class="footer-worktime-value footer-value">
                    Ежедневно 9:00 – 21:00
                </div>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2024 Алексей Рубан, ИКБО-30-22. Все права защищены.</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/show-contacts.js"></script>
</body>

</html>