<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="body">
    <div th:replace="~{parts/header :: header}"></div>
    <main class="main">
        <div class="container">
            <h1 class="signup-header">Создайте свой аккаунт</h1>
            <form action="/authorization/signup" method="post" class="signup-form" onsubmit="return validateForm()">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required placeholder="Введите имя">

                <label for="email">Почта:</label>
                <input type="email" id="email" name="email" required placeholder="Введите адрес почты">

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required placeholder="Придумайте пароль">

                <label for="confirm_password">Подтверждение пароля:</label>
                <input type="password" id="confirm_password" name="confirm_password" required
                    placeholder="Подтвердите пароль">

                <input type="submit" value="Зарегистрироваться">
            </form>
            <div class="already-have-account">
                <span>Уже есть аккаунт?</span>
                <a href="/authorization/signin">Войти</a>
            </div>
        </div>
    </main>
    <div th:replace="~{parts/footer :: footer}"></div>
    <script src="/static/js/show-contacts.js"></script>
    <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;

            if (password !== confirmPassword) {
                alert("Пароли не совпадают");
                return false;
            }
            return true;
        }
    </script>
</body>

</html>