#body-admin {
    display: block;
    background-color: var(--background-color);
}

.admin-page-button {
    display: inline-block;
    line-height: 46px;
    text-align: center;
    vertical-align: middle;
    padding: 0 34px;
    font-size: 1.15rem;
    font-weight: bold;
    border-radius: 4px;
    transition: all 300ms;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px white solid;
    text-decoration: none;
}

.admin-page-button:hover {
    color: black;
    background-color: white;
}

.actions-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: calc(100% - 100px);
    align-items: center;
}

.action-card {
    height: 80%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 30px 20px 30px;
}

.action-card form {
    display: flex;
    flex-direction: column;
    text-align: start;
    flex: 1;
    justify-content: baseline;
}

.action-card form label {
    display: block;
    margin-bottom: 10px;
}

.action-card form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-size: 1rem;
}

select {
    margin-bottom: 30px;
    padding: 8px 16px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-color);
    appearance: none;
}

option {
    padding: 8px 16px;
    font-size: 1rem;
}

select:hover {
    border-color: #666;
}

select:focus {
    outline: none;
}

.actions-container > :nth-child(1) form input[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 16px 0 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    transition: all 300ms;
}

.actions-container > :nth-child(1) form input[type="submit"]:hover {
    background-color: var(--accent-color);
}

.actions-container > :nth-child(2) form input[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 16px 0 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    transition: all 300ms;
}

.actions-container > :nth-child(2) form input[type="submit"]:hover {
    background-color: var(--accent-color);
}

.actions-container > :nth-child(3) form input[type="submit"] {
    border: 2px red solid;
    background-color: red;
    color: white;
    padding: 14px 0 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    transition: all 300ms;
}

.actions-container > :nth-child(3) form input[type="submit"]:hover {
    background-color: transparent;
    color: red;
}

@media screen and (max-width: 768px) {

    #body-admin {
        display: flex;
        flex-direction: column;
    }

    .actions-container {
        flex-direction: column;
        margin: 20px 18px 20px;
    }

    .action-card {
        height: auto;
        width: 100%;
        padding: 8px 18px 20px;
    }

    .admin-page-button {
        display: inline-block;
        line-height: 28px;
        text-align: center;
        vertical-align: middle;
        padding: 0 12px;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 4px;
        transition: all 300ms;
        cursor: pointer;
        color: white;
        background-color: transparent;
        border: 1px white solid;
        text-decoration: none;
    }

    #header-nav-admin {
        gap: 8px;
    }

}