<footer class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container footer-container">
        <div class="footer-contacts">Контакты</div>
        <div class="footer-address footer-header">
            Адрес:
            <div class="footer-address-value footer-value">
                123060, Россия<br>
                г. Москва,<br>
                ул. Маршала Бирюзова, 14
            </div>
        </div>
        <div class="footer-telephone footer-header">
            Телефон:
            <div class="footer-telephone-value footer-value">
                <a href="tel:88000000000" class="footer-telephone-value footer-value">8 800 000 0000</a>
            </div>
        </div>
        <div class="footer-email footer-header">
            E-mail:
            <div class="footer-email-value footer-value">
                <a href="mailto:info@brillantbarbershop.com" class="footer-telephone-value footer-value">info@brillantbarbershop.com</a>
            </div>
        </div>
        <div class="footer-worktime footer-header">
            График работы:
            <div class="footer-worktime-value footer-value">
                Ежедневно 9:00 – 21:00
            </div>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 Алексей Рубан, ИКБО-30-22. Все права защищены.</p>
        </div>
    </div>
</footer>