<header class="header" th:fragment="headerAdmin" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container header-container">
        <a class="header-name" href="/">
            Brillant
        </a>
        <div class="header-nav">
            <a href="" class="admin-page-button">
                Услуги
            </a>
            <a href="" class="admin-page-button">
                Мастера
            </a>
            <a href="" class="admin-page-button">
                Записи
            </a>
        </div>
    </div>
</header>