<header class="header" th:fragment="headerIndex" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container header-container">
        <a class="header-name" href="/">
            Brillant Barbershop
        </a>
        <div class="header-nav">
            <button class="header-nav-elem header-contacts hidable-contacts" onclick="window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'});">
                Контакты
            </button>
            <button class="header-nav-elem header-visit-master">
                Записаться
            </button>
        </div>
        
    </div>
</header>